.wrapper{
    width: 1147px; 
    height: 1100px;
    margin: 0 auto;
    position: relative;
}
.container--full-width {
    width: 100%;
    max-width: 100vw;
    margin-bottom: 0px;
}

.container__input--full-width {
    width: 100%;
    height: 40px;
}

.movies-list{

}
.pagination{
    position: absolute;
    left: 33%;
    padding-bottom: 40px;
    padding-top: 40px;
}
/*//////////////////*/



.list-item{
    margin: 40px 40px 0px 40px;
    box-shadow: 3px 3px 5px 0px rgba(211,202,202,0.75);  
    overflow: hidden;


 
}

.rating--circle{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
}

.rating-stars{
    width: 280px;
    position: absolute;
    top: 88%;
}

.description{
    font-size: 12px;
    color: black;
    overflow: hidden;
}

.movie-title{
    font-size: 20px;
    font-weight: 600;
    width: 240px;
    max-height: 66px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.date{
    font-size: 12px;
    font-weight: 400;
    color: grey;
}